/* Input row */
.container1 {
    background: black;
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 1%;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #cccfd4;
    border-radius: 30px;
    padding-left: 20px;
    /* margin-bottom: 25px; */
}

/* Input */
.row1 input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

/* Button */
.row1 button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
